<div class="panel panel-default">
  <div class="panel-heading" ng-show="pla.showFilters">

  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label>
            <input ng-change="pla.filter()" ng-model="pla.playerFilters.healthy" type="checkbox">
            Show only available players (doubtful, unavailable or injured are out)
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Position</label>
      <div class="col-sm-10">
        <select class="form-control" convert-to-number ng-change="pla.filter()" ng-model="pla.playerFilters.position">
          <option value="1">Goalkeepers</option>
          <option value="2">Defenders</option>
          <option value="3">Midfielders</option>
          <option value="4">Attackers</option>
          <option value="0">All players</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Minimum minutes</label>
      <div class="col-sm-10">
        <input class="form-control" max="3420" min="0" ng-change="pla.filter()" ng-model="pla.playerFilters.minutes" type="number">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Maximum cost</label>
      <div class="col-sm-10">
        <input class="form-control" max="15" min="4" ng-change="pla.filter()" ng-model="pla.playerFilters.maxCost" type="number">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Include teams</label>
      <div class="col-sm-10">
        <ul class="list-inline list-unstyled">
          <li ng-repeat="team in pla.teams" class="col-sm-2">
            <input ng-change="pla.filter()" ng-model="team.selected" type="checkbox">
            {{team.short_name}}
          </li>
        </ul>
      </div>
    </div>
  </form>

  </div>
  <div class="panel-body pull-right">
    <a href ng-click="pla.resetFilters()">reset filters</a>
    <span class="glyphicon glyphicon-refresh"></span>
    <span ng-show="pla.showFilters">
      <a href ng-click="pla.showFilters = false">hide</a>
      <span class="glyphicon glyphicon-menu-up"></span>
    </span>
    <span ng-show="!pla.showFilters">
      <a href ng-click="pla.showFilters = true">show filters</a>
      <span class="glyphicon glyphicon-menu-down"></span>
    </span>
  </div>
  <table class="table table-hover">
    <tr>
      <th/>
      <th>
        Name
      </th>
      <th>
        Status
      </th>
      <th col-id="total_points" col-name="Total points" sort-th/>
      <th col-id="cost" col-name="Cost" sort-th/>
      <th col-id="points_per_game" col-name="Points per game" sort-th/>
      <th col-id="points_per_pound" col-name="Points per pound" sort-th/>
      <th col-id="ppg_per_pound" col-name="Points per game per pound" sort-th/>
      <th col-id="minutes" col-name="Minutes" sort-th/>
    </tr>
    <tr ng-repeat="player in pla.playersToShow | orderBy:pla.orderPredicate:pla.orderReverse">
      <td>
        <span class="clublogo logo{{player.team}}"/>
      </td>
      <td>
        {{ player.first_name }}
        {{ player.second_name}}
      </td>
      <td>{{ player.status }}
      </td>
      <td>
        {{ player.total_points }}
      </td>
      <td>
        {{ player.cost }}
      </td>
      <td>
        {{ player.points_per_game }}
      </td>
      <td>
        {{ player.points_per_pound | number:2 }}
      </td>
      <td>
        {{ player.ppg_per_pound | number:2 }}
      </td>
      <td>
        {{ player.minutes }}
      </td>
    </tr>
  </table>
</div>
